<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Pasajeros</th>
            <th scope="col">Limite diario</th>
            <th scope="col">Definición diaria</th>
            <th scope="col">Limite semanal</th>
            <th scope="col">Definicion semanal</th>
            <th scope="col">Limite mensual</th>
            <th scope="col">Definión mensual</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th scope="row">Pasajero id 1</th>
            <td>{{this.pasajero1[0]}}</td>
            <td>{{this.pasajero1[1]}}</td>
            <td>{{this.pasajero1[2]}}</td>
            <td>{{this.pasajero1[3]}}</td>
            <td>{{this.pasajero1[4]}}</td>
            <td>{{this.pasajero1[5]}}</td>
        </tr>
        <tr>
            <th scope="row">Pasajero id 2</th>
            <td>{{this.pasajero2[0]}}</td>
            <td>{{this.pasajero2[1]}}</td>
            <td>{{this.pasajero2[2]}}</td>
            <td>{{this.pasajero2[3]}}</td>
            <td>{{this.pasajero2[4]}}</td>
            <td>{{this.pasajero2[5]}}</td>
        </tr>
        <tr>
            <th scope="row">Pasajero id 3</th>
            <td>{{this.pasajero3[0]}}</td>
            <td>{{this.pasajero3[1]}}</td>
            <td>{{this.pasajero3[2]}}</td>
            <td>{{this.pasajero3[3]}}</td>
            <td>{{this.pasajero3[4]}}</td>
            <td>{{this.pasajero3[5]}}</td>
        </tr>
    </tbody>

</table>