<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Portal de {{this.usuario.nombre}} {{this.usuario.apellido}}</a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarScroll" (click)="btnsCerrar()">Cerrar Sesion</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" (click)="btnFormulario()">Cuentas de clientes </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="btnMedios()">Acceder a los medios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>